.touch{
  background-color:white;
  padding: 32px 48px;
  padding-left: 20%;
}

.container {
    background-color: white;
    border-radius: 7px;
    min-height: 560px;
    box-shadow: 0px 5px 15px 0px rgb(193, 192, 192);
}

.form-container {
  display:flex;
}

.left-container {
    height: 510px;
    width: 57%;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-left: -20%;
    background-color:#1D4960;
    border-radius: 7px;
    box-shadow: 0px 5px 10px 0px grey;
}

.left-inner-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contact-list {
  list-style-type: none;
  padding: 25px 40px;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  row-gap: 20px;
  column-gap: 10px;
}

.list-item {
  display: flex;
  /* height: 80px; */
  color: rgb(255, 255, 255);
  align-items: center;
}

.list-item .imgg1 img{
  height: 39px;
  width: 49px;
}

.address{
  margin-bottom: 0rem;
  text-align: start;
  font-size: 18px;
  color: white;
  align-self: center;
  display: grid;
  }

  .contact-text-info{
    display: grid;
  }

.lg-view{
  font-size: 16px;
  padding: 5px;
}

.right-container {
  display: flex;
  width: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 10px 60px;
}

.right-inner-container {
  width: 100%;
  padding: 0px 16px;
  margin-right: 20px;
  margin-bottom: 45px;
}
.right-inner-container label{
  padding-top: 10px;
  font-size: 32px;
  text-transform: uppercase;
  background-image: linear-gradient( -225deg, #111111 0%, #9c96a2 29%, #4db8ef 67%, #00fff4 100% );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.fillsome{
  background-color: #e4f1f8;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
  resize: none;
}

input:focus, textarea:focus{
outline:1px solid teal;
}

.tchbtn{
border-radius: 25px;
border: none;
margin-top: 10px;
background-color:#4db8ef;
color: #FFFFFF;
font-size: 18px;
padding: 12px 45px;
letter-spacing: 1px;
width: 100%;
cursor:pointer;
box-shadow: 1px 1px 5px 1px #8080808f;
}

.tchbtn:hover {
  box-shadow: 2px 2px 7px 2px #8080808f;
}

form p {
text-align:left;
}

.list-item img{
  width: 45px;
}

.list-item span{
padding-left: 8px ;
}

.errors {
color: red;
display: list-item;
font-size: 13px;
/* margin-left: -170px; */
list-style-type: none;
}
.err2{
color: red;
font-size: 12px;
margin-left: 15px;
}

/* Mobile view */
@media screen and (max-width:480px) {

  .touch{
    background-color:white;
    padding: 32px 16px;
    padding-left: 0%;
  }
  
  
  .right-inner-container label{
    font-size: 24px;
  }
  
  .address{
    font-size: 16px;
  }
  .container{
    margin-left: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .form-container{
    display: block;
    margin-right: 0;
    width: 100%;
  }

  .left-inner-container{
    vertical-align: middle;
    display: grid;
    align-content: center;
    height: 100%;
    width: 100%;
  }

  .left-container{
    width: calc(100% - 15px);
    margin: 15px;
  }
  
  .right-container{
    width: 100%;
    margin: 10px;
  }

  .right-inner-container{
    
    padding: 16px;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
