.sales-main{
    height: 320px;
}
.sales-img{
    width: 100vw;
}
.sales-img{
    position: relative;
}
.sales-btn{
    padding: 12px;
    width: 175px;
    color: white;
    background-color:#4DB8EF ;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 5px 1px #8080808f;
    position: relative;
    left: 94px;
    bottom: 100px;
}
.sales-btn:hover
{
    box-shadow: 2px 2px 7px 2px #8080808f;
}
@media screen and (max-width:480px) {
.sales-main{
    height: 110px;
}
.sales-btn{
    padding: 2px;
    width: 85px;
    margin-top: 60px;
    margin-left: -66px;
    font-size: 10px;
} 
}